body{background-color: #2a0466;}

/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo del canvas (área de juego) */
canvas {
    background-color: #000;
}

/* Estilo del título */
h1 {
    text-align: center;
    color: #333;
}





.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Blur effect */
    background: rgba(0, 0, 0, 0.2); /* Optional dark overlay */
    z-index: 1;
}

#parentContenedor {
	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%); 
    	width: 30%; 
    	padding: 20px;
    	z-index: 10;} 


#Contenedor {
	position: relative;
    	min-height: 100vh;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	flex-direction: column;
	padding: 20px;}

#Contenido {
	border: 3px solid black;
	background-color: #130130;
	height: auto;
	width: 97%;
	margin: auto;
	float: none;
	padding: 20px;
	border-radius: 30px;}

#Contenedor a {
	border-radius: 12px;
	font-family: Serif;
	font-style: oblique;
	color: black;
	font-weight: bold;
	background-color: grey;
	text-decoration: none;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;}
	
#Contenedor img {
	width: 150px;
	height: 150px;
	border: 3px solid black;
	border-radius: 15px;}
	

.fotos {
	width:50px;
	height: 50px;
	background-color: pink;}	

h3, p {font-family: Cambria;}

h3{color:purple;
font-weight:bold;
font-size:19px;}

p {color:#FF00FF;
font-weight: bold;
font-size:15px;}

h2 { background-color: #FE9BD2;
	padding: 5px;}


#Contenedor .link1{ 
background-color:#A533FF;
color: white;} 
	
#Contenedor a:hover{
background-color:#A533FF;
	color: white;}	

#Contenedor a:active {
	background-color:#A533FF;
	color: white;}

#Contenedor img {
  display: inline-block;}

#interés p {display: inline-block;
  margin-right: 75px;
  padding-left: 5px;}

#fotos img {height: 125px;
	width: 125px;
	border-radius: 15px;
	border:3px solid black;}
